<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-fluid">
      <a href='/djangoapp'>Index</a> <a href="/djangoapp/about">About</a> <a href="/djangoapp/contact">Contact</a>
      <a href="submit_review">Add Review</a>
      <div class="form-inline">

        {% if user.is_authenticated %}
        <form class="Login" action="/djangoapp/logout" method="post">{% csrf_token %}
          <span>({{user.username}})</span>
          <input type="submit" name="" class="btn form-control" value="Logout">
        </form>
        {% else %}
        <form class="Login" action="/djangoapp/login" method="post">{% csrf_token %}
          <input type="text" name="username" class="form-control">
          <input type="password" name="password" class="form-control">
          <input type="submit" name="" class="btn btn-primary form-control" value="Submit">
          <a href="/djangoapp/register">Sign Up</a>
        </form>
        {% endif %}
      </div>
    </nav>
    <!-- Add reviews as cards -->
    <div class="card-columns">
      {% for review in reviews %}
      <div class="card" style="width: 20rem;">
        {% if review.sentiment == 'positive' %}
          <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png">
        {% elif review.sentiment == 'negative' %}
          <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png">
        {% else %}
          <img class="card-img-left" style="max-width: 15%;" src="{{MEDIA_URL}}/emoji/neutral.png">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{review.name}}</h5>
          <p class="card-text">{{review.review}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    </body>

</html>
