<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>
    <body>
    <!--Add a nav bar here -->
      <nav class="navbar navbar-fluid">
        <a href='/djangoapp'>Index</a> <a href="/djangoapp/about">About</a> <a href="/djangoapp/contact">Contact</a>
        <div class="form-inline">

          {% if user.is_authenticated %}
          <form class="Login" action="/djangoapp/logout" method="post">{% csrf_token %}
            <span>({{user.username}})</span>
            <input type="submit" name="" class="btn form-control" value="Logout">
          </form>
          {% else %}
          <form class="Login" action="/djangoapp/login" method="post">{% csrf_token %}
            <input type="text" name="username" class="form-control">
            <input type="password" name="password" class="form-control">
            <input type="submit" name="" class="btn btn-primary form-control" value="Submit">
            <a href="/djangoapp/register">Sign Up</a>
          </form>
          {% endif %}
        </div>
      </nav>
    <h3>Index Page for Car Dealership</h3>
    <p>Test For Push</p>
    <!--Add a dealer table here -->
    <table class="table" id="table" data-filter-control="true">
      <thead>
        <th scope='col'>#</th>
        <th scope='col'>Name</th>
        <th scope='col'>City</th>
        <th scope='col'>Address</th>
        <th scope='col'>Zip</th>
        <th data-field="state" data-filter-control="select">State</th>
      </thead>
      <tbody>
        {% for dealer in dealerships %}
        <tr>
          <td>{{dealer.id}}</td> <td><a href="dealer/{{dealer.id}}">{{dealer.full_name}}</a></td>
          <td>{{dealer.city}}</td> <td>{{dealer.address}}</td>
          <td>{{dealer.zip}}</td> <td>{{dealer.state}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </body>
    <script>
      $(function() {
        $('#table').bootstrapTable()
      })
    </script>
</html>
